[submodule "lingbotvla/models/vla/vision_models/lingbot-depth"]
	path = lingbotvla/models/vla/vision_models/lingbot-depth
	url = https://github.com/Robbyant/lingbot-depth
[submodule "lingbotvla/models/vla/vision_models/MoGe"]
	path = lingbotvla/models/vla/vision_models/MoGe
	url = https://github.com/microsoft/MoGe.git
