torch
# torchao
torchvision
decord
dm_tree
h5py
matplotlib
moviepy
numpy
opencv_python
opencv_python_headless
pandas
Pillow
polars
prodigyopt
pytest
PyYAML
PyYAML
rich
scipy
tqdm
typing_extensions
tyro
websockets
einops
accelerate
bitsandbytes
came_pytorch
xformers
safetensors
diffusers==0.32.0
sentencepiece
transformers
tensorboard
deepspeed
pyarrow
fastparquet
av
